**/.git
**/.vs
**/.idea
**/.vscode
**/.env
**/.dockerignore
**/bin
**/obj
**/node_modules
**/*.user
**/*.suo
**/TestResults
PersonalFinance.Tests
README.md
docker-compose*.yml
Dockerfile*
.env.example
